@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  background-color: rgb(0, 87, 46);
}

.div_header-image {
  width: 100vw;
  height: 10rem;
  overflow: hidden;
  position:absolute;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img_header-image {
  width: 100vw;
  filter: blur(2px);
}

.div_profile-pic {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.img_profile-pic {
  width: 50%;
  max-width: 15rem;
  margin-top: 3rem;
  border-radius: 50%;
  border: 5px solid white;
  box-shadow: 4px 4px 10px rgba(0,0,0,.5);
}

.div_social-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100vw;
}

.a_social-link {
  background-color: rgb(0, 204, 95);
  margin: .5rem;
  padding: 15px;
  width: 10rem;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0,0,0,.5);
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  transition: .2s ease;
}

.a_social-link:hover {
  background-color: rgb(0, 134, 62);
  transition: .2s ease;
}